<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NIST_Calibration_Sheet__Final.Properties.ConnectionSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NIST_Calibration_Sheet__Final.Properties.ConnectionSettings>
            <setting name="GasCheckTDLSConnectionString" serializeAs="String">
                <value>Data Source=SQLSV800-002;Initial Catalog=""GasCheckTDLS"";Persist Security Info=True;User ID=Generic_mfg;Password=55555</value>
            </setting>
            <setting name="SapFolderPath" serializeAs="String">
                <value>\\\\svr300-003\\MFG\\Databases\\Orders\\0000-005671-0023.txt</value>
            </setting>
            <setting name="TotalResultLogPath" serializeAs="String">
                <value>\\\\svr300-003\\MFG\\Databases\\LAD Newnan\\FIT_DATA\\Result_Data\\Result_Log</value>
            </setting>
            <setting name="QICSearchPath" serializeAs="String">
                <value>\\\\svr300-003\\MFG\\Databases\\LAD Newnan\\FIT_DATA\\Result_Data\\Result_QIC\\TDLS8000</value>
            </setting>
            <setting name="ExcelFilePath" serializeAs="String">
                <value>\\\\svr300-003\\MFG\\Databases\\LAD Newnan\\FIT_DATA\\Result_Data\\M1202JHZ911T1_TDLS8000 NIST Traceable Calibration Certificatej.xlsx</value>
            </setting>
        </NIST_Calibration_Sheet__Final.Properties.ConnectionSettings>
    </applicationSettings>
</configuration>